[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
notebook = "*"
pylint = "*"
pycodestyle = "*"
autopep8 = "*"
numpy = "*"

[packages]

[requires]
python_version = "3.8"
